@import "tailwindcss";
@import "@nuxt/ui";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black; 
  color: white;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  pointer-events: none !important;
}

.particles-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
